.headerDiv {
    background-color: #2C2A3C;
    /*margin-bottom: 1rem;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    justify-self: flex-start;
}

.logo {
    /*margin: 0 auto;*/
    padding-left: 3em;
    padding-top: 1.5em;
}

.linkDiv {
    display: flex;
}

.child {
    color: #fff;
    display: flex;
}

.child li {
    color: #CCD6F6;
    font-family: 'Source Code Pro', 'Cousine', monospace;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 1.6em;
}

.child li:last-child {
    padding-right: 3em;
}

/* ------------------------------------------------
------------------------------------------------ */

